/* Global Variables */
/* Fonts */
@font-face {
  font-family: "Rubik80sFade";
  src: local("Rubik80sFade"), url("/static/fonts/Rubik80sFade.ttf?850af29d2994") format("truetype"); }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Regular.ttf?850af29d2994") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Bold.ttf?850af29d2994") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Italic.ttf?850af29d2994") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-ExtraBold.ttf?850af29d2994") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-BoldItalic.ttf?850af29d2994") format("truetype");
  font-style: italic;
  font-weight: 700; }

/* Global Styling */
/* line 49, static/scss/base.scss */
html {
  height: 100%;
  width: 100%; }

/* line 54, static/scss/base.scss */
body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto !important;
  font-family: "Karla", Garamond, serif !important;
  overflow: hidden; }
  /* line 62, static/scss/base.scss */
  body .mobile,
  body .br-mobile {
    display: none !important; }
  /* line 67, static/scss/base.scss */
  body .page-container {
    min-height: 39rem;
    height: 100%;
    position: relative;
    padding: 4rem 0rem 0rem 0rem;
    overflow: scroll; }
  /* line 75, static/scss/base.scss */
  body main {
    width: 100%;
    height: 100%; }
    /* line 79, static/scss/base.scss */
    body main button {
      border: none;
      background-color: #041e42;
      border-radius: 0.8rem;
      padding: 1rem 1.5rem;
      color: white;
      font-size: 0.875rem;
      line-height: 0.875rem;
      width: fit-content; }
      /* line 89, static/scss/base.scss */
      body main button:hover {
        background-color: #f15524;
        color: #041e42; }
    /* line 95, static/scss/base.scss */
    body main a {
      font-size: 1rem;
      line-height: 1rem;
      color: orange; }
  /* line 102, static/scss/base.scss */
  body section {
    position: relative; }
  /* line 106, static/scss/base.scss */
  body h1 {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: #041e42;
    font-size: 3.25rem;
    line-height: 3.25rem;
    margin: 0rem; }
  /* line 114, static/scss/base.scss */
  body h2 {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: #041e42;
    font-size: 2.75rem;
    line-height: 2.75rem;
    margin: 0rem; }
  /* line 122, static/scss/base.scss */
  body h3 {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: #041e42;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0rem; }
  /* line 130, static/scss/base.scss */
  body p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0rem;
    margin: 1rem 0rem; }
    /* line 136, static/scss/base.scss */
    body p.message {
      color: #f15524 !important;
      font-style: italic; }
  /* line 142, static/scss/base.scss */
  body div {
    width: 100%; }
    /* line 145, static/scss/base.scss */
    body div.img-container {
      overflow: hidden; }
    /* line 149, static/scss/base.scss */
    body div.header-block {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    /* line 160, static/scss/base.scss */
    body div.list-page {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 2rem;
      padding: 1rem 3rem; }
      /* line 168, static/scss/base.scss */
      body div.list-page .listing {
        width: 24.1%; }
        /* line 171, static/scss/base.scss */
        body div.list-page .listing a img {
          border-radius: 5px; }
        /* line 176, static/scss/base.scss */
        body div.list-page .listing a div h3 {
          padding: 1rem 0rem 0.5rem; }
        /* line 180, static/scss/base.scss */
        body div.list-page .listing a div p {
          margin: 0rem; }
    /* line 188, static/scss/base.scss */
    body div.sort-filter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      column-gap: 1rem; }
      /* line 196, static/scss/base.scss */
      body div.sort-filter button {
        background-color: transparent;
        color: #041e42;
        font-size: 0.9rem;
        line-height: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem; }
        /* line 206, static/scss/base.scss */
        body div.sort-filter button:hover {
          color: #f15524; }
  /* line 213, static/scss/base.scss */
  body form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem; }
    /* line 219, static/scss/base.scss */
    body form input {
      border: 1px solid lightgray;
      border-radius: 0.8rem;
      height: 2.5rem;
      font-size: 1rem !important;
      line-height: 1rem !important;
      padding: 1rem;
      margin: 0rem 0rem 0.8rem 0rem;
      width: 100%;
      background-color: #f4faff; }
  /* line 232, static/scss/base.scss */
  body img {
    width: 100%; }

/* Header Styling */
/* line 238, static/scss/base.scss */
#header {
  min-height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0%;
  background-color: white; }
  /* line 245, static/scss/base.scss */
  #header .navbar {
    border-bottom: 1px solid #5c5c5c1a;
    max-width: 1920px;
    padding: 0.8rem 1rem; }
  /* line 251, static/scss/base.scss */
  #header .navbar-brand {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: #041e42;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0rem;
    padding: 0rem; }
  /* line 260, static/scss/base.scss */
  #header .navbar-nav {
    align-items: center; }
    /* line 263, static/scss/base.scss */
    #header .navbar-nav .dropdown-menu {
      border: none;
      box-shadow: 10px 10px 43px -19px #00001acc;
      padding: 1rem;
      margin: 0rem;
      width: 15rem; }
      /* line 270, static/scss/base.scss */
      #header .navbar-nav .dropdown-menu .dropdown-item {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.5rem; }
        /* line 277, static/scss/base.scss */
        #header .navbar-nav .dropdown-menu .dropdown-item:hover {
          color: #f15524; }
      /* line 282, static/scss/base.scss */
      #header .navbar-nav .dropdown-menu p {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem;
        margin: 0rem;
        color: #f15524;
        font-weight: bold; }
    /* line 292, static/scss/base.scss */
    #header .navbar-nav .nav-link {
      color: #041e42;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      line-height: 1rem; }
      /* line 298, static/scss/base.scss */
      #header .navbar-nav .nav-link.dropdown-toggle {
        display: flex;
        flex-direction: row;
        align-items: center; }
      /* line 304, static/scss/base.scss */
      #header .navbar-nav .nav-link:hover {
        color: #f15524; }
  /* line 310, static/scss/base.scss */
  #header .navbar-toggler {
    padding: 0.25rem; }

/* Footer Styling */
/* line 316, static/scss/base.scss */
#footer {
  display: none !important;
  width: 100%;
  background-color: #041e42;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 326, static/scss/base.scss */
  #footer h3 {
    color: #f15524;
    font-size: 1rem;
    line-height: 1rem; }

@media screen and (max-width: 1920px) {
  /* line 336, static/scss/base.scss */
  body main button {
    border-radius: 0.8vw;
    padding: 1vw 1.5vw;
    font-size: 0.875vw;
    line-height: 0.875vw; }
  /* line 343, static/scss/base.scss */
  body main a {
    font-size: 1vw;
    line-height: 1vw; }
  /* line 349, static/scss/base.scss */
  body h1 {
    font-size: 3.25vw;
    line-height: 3.25vw; }
  /* line 354, static/scss/base.scss */
  body h2 {
    font-size: 2.75vw;
    line-height: 2.75vw; }
  /* line 359, static/scss/base.scss */
  body h3 {
    font-size: 2vw;
    line-height: 2vw; }
  /* line 364, static/scss/base.scss */
  body p {
    font-size: 1vw;
    line-height: 1.5vw;
    margin: 1vw 0rem; }
  /* line 370, static/scss/base.scss */
  body form {
    max-width: 30vw; }
    /* line 373, static/scss/base.scss */
    body form input {
      border-radius: 0.8vw;
      height: 2.5vw;
      font-size: 1vw !important;
      line-height: 1vw !important;
      padding: 1vw;
      margin: 0rem 0rem 0.8vw 0rem; }
  /* line 384, static/scss/base.scss */
  body div.list-page {
    column-gap: 1vw;
    row-gap: 2vw;
    padding: 1vw 3vw; }
    /* line 392, static/scss/base.scss */
    body div.list-page .listing a div h3 {
      padding: 1vw 0rem 0.5vw; }
  /* line 400, static/scss/base.scss */
  body div.sort-filter {
    padding: 1vw;
    column-gap: 1vw; }
    /* line 404, static/scss/base.scss */
    body div.sort-filter button {
      font-size: 0.9vw;
      line-height: 0.9vw;
      row-gap: 0.5vw; } }

@media screen and (max-width: 990px) {
  /* line 416, static/scss/base.scss */
  body .desktop {
    display: none !important; }
  /* line 420, static/scss/base.scss */
  body .mobile {
    display: block !important; }
  /* line 425, static/scss/base.scss */
  #mobileNavbar {
    padding: 1rem 0rem; }
    /* line 428, static/scss/base.scss */
    #mobileNavbar .navbar-nav {
      align-items: start; }
      /* line 431, static/scss/base.scss */
      #mobileNavbar .navbar-nav .nav-link {
        padding: 0.5rem 0rem; }
      /* line 435, static/scss/base.scss */
      #mobileNavbar .navbar-nav p {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem 0rem;
        margin: 0rem;
        color: #f15524;
        font-weight: bold; } }

@media screen and (max-width: 768px) {
  /* line 449, static/scss/base.scss */
  body .br-mobile {
    display: block !important; }
  /* line 454, static/scss/base.scss */
  body main button {
    border-radius: 1.8vw;
    padding: 2.2vw 2.5vw;
    font-size: 2.875vw;
    line-height: 2.875vw; }
  /* line 461, static/scss/base.scss */
  body main a {
    font-size: 3vw;
    line-height: 3.5vw; }
  /* line 467, static/scss/base.scss */
  body h1 {
    font-size: 8.4vw;
    line-height: 8.4vw; }
  /* line 472, static/scss/base.scss */
  body h2 {
    font-size: 5.75vw;
    line-height: 5.75vw; }
  /* line 477, static/scss/base.scss */
  body h3 {
    font-size: 3.75vw;
    line-height: 3.75vw; }
  /* line 482, static/scss/base.scss */
  body p {
    font-size: 3vw;
    line-height: 3.5vw;
    margin: 3vw 0rem; }
  /* line 488, static/scss/base.scss */
  body form {
    max-width: 85vw; }
    /* line 491, static/scss/base.scss */
    body form input {
      border-radius: 1.8vw;
      height: 4.5vw;
      font-size: 3vw !important;
      line-height: 3vw !important;
      padding: 3vw;
      margin: 0rem 0rem 1.8vw 0rem; }
  /* line 502, static/scss/base.scss */
  body div.list-page {
    column-gap: 2vw;
    row-gap: 6vw;
    padding: 1vw 3vw; }
    /* line 507, static/scss/base.scss */
    body div.list-page .listing {
      width: 48.8%; }
      /* line 512, static/scss/base.scss */
      body div.list-page .listing a div h3 {
        padding: 1.5vw 0rem 1vw; }
      /* line 516, static/scss/base.scss */
      body div.list-page .listing a div p {
        font-size: 2vw;
        line-height: 2vw; }
  /* line 525, static/scss/base.scss */
  body div.sort-filter {
    padding: 1vw;
    column-gap: 1vw; }
    /* line 529, static/scss/base.scss */
    body div.sort-filter button {
      font-size: 1.9vw;
      line-height: 1.9vw;
      row-gap: 0.8vw; } }
