/* Global Variables */
/* Fonts */
@font-face {
  font-family: "Rubik80sFade";
  src: local("Rubik80sFade"), url("/static/fonts/Rubik80sFade.ttf?850af29d2994") format("truetype"); }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Regular.ttf?850af29d2994") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Bold.ttf?850af29d2994") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Italic.ttf?850af29d2994") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-ExtraBold.ttf?850af29d2994") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-BoldItalic.ttf?850af29d2994") format("truetype");
  font-style: italic;
  font-weight: 700; }

/* Global Styling */
/* line 49, static/scss/base.scss */
html {
  height: 100%;
  width: 100%; }

/* line 54, static/scss/base.scss */
body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto !important;
  font-family: "Karla", Garamond, serif !important;
  overflow: hidden; }
  /* line 62, static/scss/base.scss */
  body .page-container {
    min-height: 39rem;
    height: 100%;
    position: relative;
    padding: 4rem 0rem 0rem 0rem;
    overflow: scroll; }
  /* line 70, static/scss/base.scss */
  body main {
    width: 100%;
    height: 100%; }
    /* line 74, static/scss/base.scss */
    body main button {
      border: none;
      background-color: #041e42;
      border-radius: 0.8rem;
      padding: 1rem 1.5rem;
      color: white;
      font-size: 0.875rem;
      line-height: 0.875rem;
      width: fit-content; }
      /* line 84, static/scss/base.scss */
      body main button:hover {
        background-color: #f15524;
        color: #041e42; }
    /* line 90, static/scss/base.scss */
    body main a {
      font-size: 1rem;
      line-height: 1rem;
      color: orange; }
  /* line 97, static/scss/base.scss */
  body section {
    position: relative; }
  /* line 101, static/scss/base.scss */
  body h1 {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: #041e42;
    font-size: 3.25rem;
    line-height: 3.25rem;
    margin: 0rem; }
  /* line 109, static/scss/base.scss */
  body p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0rem;
    margin: 1rem 0rem; }
    /* line 115, static/scss/base.scss */
    body p.message {
      color: #f15524;
      font-style: italic; }
  /* line 121, static/scss/base.scss */
  body div {
    width: 100%; }
    /* line 124, static/scss/base.scss */
    body div.img-container {
      overflow: hidden; }
    /* line 128, static/scss/base.scss */
    body div.header-block {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
  /* line 140, static/scss/base.scss */
  body form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem; }
    /* line 146, static/scss/base.scss */
    body form input {
      border: 1px solid lightgray;
      border-radius: 0.8rem;
      height: 2.5rem;
      font-size: 1rem !important;
      line-height: 1rem !important;
      padding: 1rem;
      margin: 0rem 0rem 0.8rem 0rem;
      width: 100%;
      background-color: #f4faff; }
  /* line 159, static/scss/base.scss */
  body img {
    width: 100%; }

/* Header Styling */
/* line 165, static/scss/base.scss */
#header {
  min-height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0%;
  background-color: white; }
  /* line 172, static/scss/base.scss */
  #header .navbar {
    border-bottom: 1px solid #5c5c5c1a;
    max-width: 1920px;
    padding: 0.8rem 1rem; }
  /* line 178, static/scss/base.scss */
  #header .navbar-brand {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: #041e42;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0rem;
    padding: 0rem; }
  /* line 187, static/scss/base.scss */
  #header .navbar-nav {
    align-items: center; }
    /* line 190, static/scss/base.scss */
    #header .navbar-nav .dropdown-menu {
      border: none;
      box-shadow: 10px 10px 43px -19px #00001acc;
      padding: 1rem;
      margin: 0rem;
      width: 15rem; }
      /* line 197, static/scss/base.scss */
      #header .navbar-nav .dropdown-menu .dropdown-item {
        padding: 0.5rem; }
        /* line 200, static/scss/base.scss */
        #header .navbar-nav .dropdown-menu .dropdown-item:hover {
          color: #f15524; }
      /* line 205, static/scss/base.scss */
      #header .navbar-nav .dropdown-menu p {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem;
        margin: 0rem;
        color: #f15524;
        font-weight: bold; }
    /* line 215, static/scss/base.scss */
    #header .navbar-nav .nav-link {
      color: #041e42;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      line-height: 1rem; }
      /* line 221, static/scss/base.scss */
      #header .navbar-nav .nav-link.dropdown-toggle {
        display: flex;
        flex-direction: row;
        align-items: center; }
      /* line 227, static/scss/base.scss */
      #header .navbar-nav .nav-link:hover {
        color: #f15524; }
  /* line 233, static/scss/base.scss */
  #header .navbar-toggler {
    padding: 0.25rem; }
  /* line 238, static/scss/base.scss */
  #header #mobileNavbar .navbar-nav {
    align-items: start; }

/* Footer Styling */
/* line 245, static/scss/base.scss */
#footer {
  display: none !important;
  width: 100%;
  background-color: #041e42;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 255, static/scss/base.scss */
  #footer h3 {
    color: #f15524;
    font-size: 1rem;
    line-height: 1rem; }

/*
@media screen and (max-width: 1920px) {
  body {
    main {
      button {
        border-radius: 0.8vw;
        padding: 1vw 1.5vw;
        font-size: 0.875vw;
        line-height: 0.875vw;
      }

      a {
        font-size: 1vw;
        line-height: 1vw;
      }
    }

    h1 {
      font-size: 3.25vw;
      line-height: 3.25vw;
    }

    p {
      font-size: 1vw;
      line-height: 1.5vw;
      margin: 1vw 0rem;
    }

    form {
      max-width: 30vw;
    }

    input {
      border-radius: 0.8vw;
      height: 2.5vw;
      font-size: 1vw !important;
      line-height: 1vw !important;
      padding: 1vw;
      margin: 0rem 0rem 0.8vw 0rem;
    }
  }
}

*/
/*

@media screen and (max-width: 768px) {
  body {
    main {
      button {
        border-radius: 1.8vw;
        padding: 2.2vw 2.5vw;
        font-size: 2.875vw;
        line-height: 2.875vw;
      }

      a {
        font-size: 3vw;
        line-height: 3.5vw;
      }
    }

    h1 {
      font-size: 8.4vw;
      line-height: 8.4vw;
    }

    p {
      font-size: 3vw;
      line-height: 3.5vw;
      margin: 3vw 0rem;
    }

    form {
      max-width: 85vw;
    }

    input {
      border-radius: 1.8vw;
      height: 4.5vw;
      font-size: 3vw !important;
      line-height: 3vw !important;
      padding: 3vw;
      margin: 0rem 0rem 1.8vw 0rem;
    }
  }

  #header {
    .navbar-nav {
      .dropdown-menu {
        box-shadow: none;
      }
    }
  }
}

*/
