/* Global Variables */
/* Fonts */
@font-face {
  font-family: "Rubik80sFade";
  src: local("Rubik80sFade"), url("/static/fonts/Rubik80sFade.ttf?874bf2bb3343") format("truetype"); }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Regular.ttf?a15dadc725a6") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Bold.ttf?a15dadc725a6") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-Italic.ttf?a15dadc725a6") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-ExtraBold.ttf?a15dadc725a6") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Karla";
  src: url("/static/fonts/Karla-BoldItalic.ttf?a15dadc725a6") format("truetype");
  font-style: italic;
  font-weight: 700; }

/* Global Styling */
/* line 49, static/scss/base.scss */
html {
  height: 100%;
  width: 100%; }

/* line 54, static/scss/base.scss */
body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto !important;
  font-family: "Karla", Garamond, serif !important;
  overflow: hidden; }
  /* line 62, static/scss/base.scss */
  body main {
    width: 100%;
    height: 100%; }
    /* line 67, static/scss/base.scss */
    body main button {
      border: none;
      background-color: #041E42;
      border-radius: 0.8rem;
      height: 2.8rem;
      color: white;
      font-size: 0.875rem;
      line-height: 0.875rem;
      width: 100%; }
      /* line 77, static/scss/base.scss */
      body main button:hover {
        background-color: #F15524;
        color: #041E42; }
  /* line 84, static/scss/base.scss */
  body h1 {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: #041E42;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0rem; }
  /* line 92, static/scss/base.scss */
  body p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0rem;
    margin: 1rem 0rem; }
    /* line 98, static/scss/base.scss */
    body p.message {
      color: #F15524;
      font-style: italic; }
  /* line 104, static/scss/base.scss */
  body div {
    width: 100%; }
  /* line 108, static/scss/base.scss */
  body form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem; }
  /* line 115, static/scss/base.scss */
  body input {
    border: 1px solid lightgray;
    border-radius: 0.8rem;
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
    margin: 0rem 0rem 0.8rem 0rem;
    width: 100%;
    background-color: #f4faff; }

/* line 128, static/scss/base.scss */
.page-container {
  min-height: 39rem;
  height: calc(100% - 4rem);
  position: relative;
  margin: 4rem 0rem 0rem 0rem;
  overflow: scroll; }

/* Header Styling */
/* line 137, static/scss/base.scss */
#header {
  min-height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0%;
  background-color: white; }
  /* line 144, static/scss/base.scss */
  #header .navbar {
    border-bottom: 1px solid #5c5c5c1A; }
  /* line 148, static/scss/base.scss */
  #header .navbar-brand {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: #041E42;
    font-size: 2.5rem;
    line-height: 2.5rem; }
  /* line 155, static/scss/base.scss */
  #header .navbar-nav .nav-link {
    color: #041E42; }
    /* line 158, static/scss/base.scss */
    #header .navbar-nav .nav-link:hover {
      color: #F15524; }

/* Footer Styling */
/* line 165, static/scss/base.scss */
#footer {
  display: none !important;
  width: 100%;
  background-color: #041E42;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 175, static/scss/base.scss */
  #footer h3 {
    color: #F15524;
    font-size: 1rem;
    line-height: 1rem; }

@media screen and (max-width: 1920px) {
  /* line 186, static/scss/base.scss */
  body main button {
    border-radius: 0.8vw;
    height: 2.8vw;
    font-size: 0.875vw;
    line-height: 0.875vw; }
  /* line 194, static/scss/base.scss */
  body h1 {
    font-size: 2.4vw;
    line-height: 2.4vw; }
  /* line 199, static/scss/base.scss */
  body p {
    font-size: 1vw;
    line-height: 1.5vw;
    margin: 1vw 0rem; }
  /* line 205, static/scss/base.scss */
  body form {
    max-width: 25vw; }
  /* line 209, static/scss/base.scss */
  body input {
    border-radius: 0.8vw;
    height: 2.5vw;
    font-size: 1vw;
    line-height: 1vw;
    padding: 1vw;
    margin: 0rem 0rem 0.8vw 0rem; } }

@media screen and (max-width: 768px) {
  /* line 223, static/scss/base.scss */
  body main button {
    border-radius: 0.8vw;
    height: 5.8vw;
    font-size: 1.875vw;
    line-height: 1.875vw; }
  /* line 231, static/scss/base.scss */
  body h1 {
    font-size: 6.4vw;
    line-height: 6.4vw; }
  /* line 236, static/scss/base.scss */
  body p {
    font-size: 2vw;
    line-height: 2.5vw;
    margin: 2vw 0rem; }
  /* line 242, static/scss/base.scss */
  body form {
    max-width: 50vw; }
  /* line 246, static/scss/base.scss */
  body input {
    border-radius: 0.8vw;
    height: 3.5vw;
    font-size: 2vw;
    line-height: 2vw;
    padding: 2.5vw;
    margin: 0rem 0rem 1.8vw 0rem; } }
