/* Global Variables */
/* line 9, homepage/static/homepage/homepage.scss */
#homepage section#hero .header-block {
  text-align: left;
  padding: 10rem; }
  /* line 13, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block h1 {
    color: white;
    font-size: 6rem;
    line-height: 6rem; }
  /* line 19, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block p {
    color: white;
    font-size: 2.5rem;
    line-height: 2.5rem; }
  /* line 25, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block button {
    width: 10rem;
    font-size: 1.5rem;
    line-height: 1.5rem; }
