/* Global Variables */
/* line 9, homepage/static/homepage/homepage.scss */
#homepage section#hero .header-block {
  text-align: left;
  padding: 10rem; }
  /* line 13, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block h1 {
    color: white;
    font-size: 9.5rem;
    line-height: 8.5rem; }
  /* line 19, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block p {
    color: white;
    font-size: 2.3rem;
    line-height: 3rem;
    font-style: italic; }
  /* line 26, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block button {
    padding: 1rem 2.5rem;
    font-weight: bold;
    border: white 1px solid;
    background-color: rgba(255, 255, 255, 0.555);
    color: #041e42; }
    /* line 33, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button:hover {
      background-color: rgba(255, 255, 255, 0.555);
      color: #f15524; }

@media screen and (max-width: 1920px) {
  /* line 47, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 50, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 9.5vw;
      line-height: 8.5vw; }
    /* line 55, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 2.8vw;
      line-height: 3.5vw; }
    /* line 60, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      padding: 1vw 2.5vw; } }

@media screen and (max-width: 768px) {
  /* line 73, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw;
    text-align: center; }
    /* line 77, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 15.5vw;
      line-height: 15.5vw; }
    /* line 82, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 5.3vw;
      line-height: 5.3vw; }
    /* line 87, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      font-size: 2.3vw;
      line-height: 2.3vw;
      padding: 2.5vw 7vw;
      margin: 0 auto; } }
