/* Global Variables */
/* line 8, homepage/static/homepage/homepage.scss */
#homepage section#hero {
  width: 100%;
  height: 100vh;
  min-height: 40rem;
  background-image: url("/static/images/homepage-hero.jpg?6ac801afa46c");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  /* line 17, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    text-align: left;
    padding: 10rem; }
    /* line 21, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      color: white;
      font-size: 9.5rem;
      line-height: 8.5rem; }
    /* line 27, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      color: white;
      font-size: 2.3rem;
      line-height: 3rem;
      font-style: italic; }
    /* line 34, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      padding: 1rem 2.5rem;
      font-weight: bold;
      border: white 1px solid;
      background-color: rgba(255, 255, 255, 0.555);
      color: #041e42; }
      /* line 41, homepage/static/homepage/homepage.scss */
      #homepage section#hero .header-block button:hover {
        background-color: rgba(255, 255, 255, 0.555);
        color: #f15524; }

/* line 49, homepage/static/homepage/homepage.scss */
#homepage section#about-us {
  background-color: #041e42;
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 48% 49%;
  padding: 5rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center; }
  /* line 60, homepage/static/homepage/homepage.scss */
  #homepage section#about-us div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    /* line 66, homepage/static/homepage/homepage.scss */
    #homepage section#about-us div:nth-child(2) {
      align-items: flex-start; }
  /* line 71, homepage/static/homepage/homepage.scss */
  #homepage section#about-us h2 {
    color: white; }
  /* line 75, homepage/static/homepage/homepage.scss */
  #homepage section#about-us h3 {
    color: #f15524;
    font-family: "Karla", Garamond, serif !important;
    font-weight: bold; }

@media screen and (max-width: 1920px) {
  /* line 88, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 91, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 9.5vw;
      line-height: 8.5vw; }
    /* line 96, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 2.8vw;
      line-height: 3.5vw; }
    /* line 101, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      padding: 1vw 2.5vw; }
  /* line 107, homepage/static/homepage/homepage.scss */
  #homepage section#about-us {
    padding: 5vw;
    column-gap: 2vw; } }

@media screen and (max-width: 768px) {
  /* line 119, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw;
    text-align: center; }
    /* line 123, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 15.5vw;
      line-height: 15.5vw; }
    /* line 128, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 4.3vw;
      line-height: 4.3vw;
      margin-bottom: 6vw; }
    /* line 134, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      font-size: 2.3vw;
      line-height: 2.3vw;
      padding: 2.5vw 7vw;
      margin: 0 auto; }
  /* line 143, homepage/static/homepage/homepage.scss */
  #homepage section#about-us {
    display: flex;
    flex-direction: column;
    padding: 10vw;
    row-gap: 4vw; }
    /* line 150, homepage/static/homepage/homepage.scss */
    #homepage section#about-us div:nth-child(2) {
      align-items: center;
      text-align: center; }
      /* line 154, homepage/static/homepage/homepage.scss */
      #homepage section#about-us div:nth-child(2) p {
        margin: 1vw 0rem 0rem; } }
