/* Global Variables */
/* line 9, homepage/static/homepage/homepage.scss */
#homepage section#hero .header-block {
  text-align: left;
  padding: 10rem; }
  /* line 13, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block h1 {
    color: white;
    font-size: 7rem;
    line-height: 7rem; }
  /* line 19, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block p {
    color: white;
    font-size: 2.3rem;
    line-height: 3rem; }
  /* line 25, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block button {
    width: 15rem;
    height: 3.5rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold; }

@media screen and (max-width: 1920px) {
  /* line 41, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 44, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 7vw;
      line-height: 7vw; }
    /* line 49, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 2.3vw;
      line-height: 3vw; }
    /* line 54, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      width: 15vw;
      height: 3.5vw;
      font-size: 1.2vw;
      line-height: 1.2vw; } }

@media screen and (max-width: 768px) {
  /* line 70, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 73, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 10.5vw;
      line-height: 10.5vw; }
    /* line 78, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 3.3vw;
      line-height: 3.3vw; }
    /* line 83, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      width: 25vw;
      height: 5.5vw;
      font-size: 2.2vw;
      line-height: 2.2vw; } }
