/* Global Variables */
/* line 9, homepage/static/homepage/homepage.scss */
#homepage section#hero .header-block {
  text-align: left;
  padding: 10rem; }
  /* line 13, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block h1 {
    color: white;
    font-size: 9rem;
    line-height: 8rem; }
  /* line 19, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block p {
    color: white;
    font-size: 2.3rem;
    line-height: 3rem; }
  /* line 25, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block button {
    padding: 1rem 2.5rem;
    font-weight: bold; }

@media screen and (max-width: 1920px) {
  /* line 38, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 41, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 9vw;
      line-height: 8vw; }
    /* line 46, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 2.3vw;
      line-height: 3vw; }
    /* line 51, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      padding: 1vw 2.5vw; } }

@media screen and (max-width: 768px) {
  /* line 64, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 67, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 10.5vw;
      line-height: 10.5vw; }
    /* line 72, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 3.3vw;
      line-height: 3.3vw; }
    /* line 77, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      font-size: 2vw;
      line-height: 2vw;
      padding: 1.5vw 3vw; } }
