/* Global Variables */
/* line 8, homepage/static/homepage/homepage.scss */
#homepage section#hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("/static/images/homepage-hero.jpg?850af29d2994"); }
  /* line 13, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    text-align: left;
    padding: 10rem; }
    /* line 17, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      color: white;
      font-size: 9.5rem;
      line-height: 8.5rem; }
    /* line 23, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      color: white;
      font-size: 2.3rem;
      line-height: 3rem;
      font-style: italic; }
    /* line 30, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      padding: 1rem 2.5rem;
      font-weight: bold;
      border: white 1px solid;
      background-color: rgba(255, 255, 255, 0.555);
      color: #041e42; }
      /* line 37, homepage/static/homepage/homepage.scss */
      #homepage section#hero .header-block button:hover {
        background-color: rgba(255, 255, 255, 0.555);
        color: #f15524; }

/* line 45, homepage/static/homepage/homepage.scss */
#homepage section#about-us {
  background-color: #041e42;
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 48% 49%;
  padding: 5rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center; }
  /* line 56, homepage/static/homepage/homepage.scss */
  #homepage section#about-us div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    /* line 62, homepage/static/homepage/homepage.scss */
    #homepage section#about-us div:nth-child(2) {
      align-items: flex-start; }
  /* line 67, homepage/static/homepage/homepage.scss */
  #homepage section#about-us h2 {
    color: white; }
  /* line 71, homepage/static/homepage/homepage.scss */
  #homepage section#about-us h3 {
    color: #f15524;
    font-family: "Karla", Garamond, serif !important;
    font-weight: bold; }

@media screen and (max-width: 1920px) {
  /* line 84, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 87, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 9.5vw;
      line-height: 8.5vw; }
    /* line 92, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 2.8vw;
      line-height: 3.5vw; }
    /* line 97, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      padding: 1vw 2.5vw; } }

@media screen and (max-width: 768px) {
  /* line 110, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw;
    text-align: center; }
    /* line 114, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 15.5vw;
      line-height: 15.5vw; }
    /* line 119, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 4.3vw;
      line-height: 4.3vw;
      margin-bottom: 6vw; }
    /* line 125, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      font-size: 2.3vw;
      line-height: 2.3vw;
      padding: 2.5vw 7vw;
      margin: 0 auto; } }
