/* Global Variables */
/* line 10, homepage/static/homepage/homepage.scss */
#homepage section#hero .header-block {
  text-align: left;
  padding: 10rem; }
  /* line 14, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block h1 {
    color: white;
    font-size: 9rem;
    line-height: 8rem; }
  /* line 20, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block p {
    color: white;
    font-size: 2.3rem;
    line-height: 3rem;
    font-style: italic; }
  /* line 27, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block button {
    padding: 1rem 2.5rem;
    font-weight: bold; }

@media screen and (max-width: 1920px) {
  /* line 40, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 43, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 9vw;
      line-height: 8vw; }
    /* line 48, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 2.3vw;
      line-height: 3vw; }
    /* line 53, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      padding: 1vw 2.5vw; } }

@media screen and (max-width: 768px) {
  /* line 66, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 69, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 10.5vw;
      line-height: 10.5vw; }
    /* line 74, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 3.3vw;
      line-height: 3.3vw; }
    /* line 79, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      font-size: 1.6vw;
      line-height: 1.6vw;
      padding: 1.5vw 4vw; } }
