/* Global Variables */
/*

#homepage {
  section {
    &#hero {
      .header-block {
        text-align: left;
        padding: 10rem;

        h1 {
          color: white;
          font-size: 9rem;
          line-height: 8rem;
        }

        p {
          color: white;
          font-size: 2.3rem;
          line-height: 3rem;
        }

        button {
          padding: 1rem 2.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  #homepage {
    section {
      &#hero {
        .header-block {
          padding: 10vw;

          h1 {
            font-size: 9vw;
            line-height: 8vw;
          }

          p {
            font-size: 2.3vw;
            line-height: 3vw;
          }

          button {
            padding: 1vw 2.5vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #homepage {
    section {
      &#hero {
        .header-block {
          padding: 10vw;

          h1 {
            font-size: 10.5vw;
            line-height: 10.5vw;
          }

          p {
            font-size: 3.3vw;
            line-height: 3.3vw;
          }

          button {
            font-size: 1.6vw;
            line-height: 1.6vw;
            padding: 1.5vw 4vw;
          }
        }
      }
    }
  }
}

*/
