/* Global Variables */
/* line 9, homepage/static/homepage/homepage.scss */
#homepage section#hero .header-block {
  text-align: left;
  padding: 10rem; }
  /* line 13, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block h1 {
    color: white;
    font-size: 6rem;
    line-height: 6rem; }
  /* line 19, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block p {
    color: white;
    font-size: 2rem;
    line-height: 2.5rem; }
  /* line 25, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold; }

@media screen and (max-width: 1920px) {
  /* line 41, homepage/static/homepage/homepage.scss */
  #homepage section#hero .header-block {
    padding: 10vw; }
    /* line 44, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block h1 {
      font-size: 6vw;
      line-height: 6vw; }
    /* line 49, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block p {
      font-size: 2vw;
      line-height: 2.5vw; }
    /* line 54, homepage/static/homepage/homepage.scss */
    #homepage section#hero .header-block button {
      width: 10vw;
      height: 3vw;
      font-size: 1vw;
      line-height: 1vw; } }
