/* Global Variables */
/* line 7, users/static/users/users.scss */
#login section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  /* line 15, users/static/users/users.scss */
  #login section > div {
    height: 100%; }
    /* line 18, users/static/users/users.scss */
    #login section > div:nth-of-type(1) {
      background-color: #041e42;
      background-image: url("/static/images/nyc-skyline.jpg?2614de7eea95");
      background-position: center; }
    /* line 24, users/static/users/users.scss */
    #login section > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      /* line 30, users/static/users/users.scss */
      #login section > div:nth-of-type(2) button {
        width: 100%; }

/* line 39, users/static/users/users.scss */
#register section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  /* line 47, users/static/users/users.scss */
  #register section > div {
    height: 100%; }
    /* line 50, users/static/users/users.scss */
    #register section > div:nth-of-type(1) {
      background-color: #041e42;
      background-image: url("/static/images/nyc-skyline.jpg?2614de7eea95");
      background-position: center; }
    /* line 56, users/static/users/users.scss */
    #register section > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      /* line 62, users/static/users/users.scss */
      #register section > div:nth-of-type(2) button {
        width: 100%; }

/* line 71, users/static/users/users.scss */
#user-dashboard section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  /* line 79, users/static/users/users.scss */
  #user-dashboard section > div {
    height: 100%; }
    /* line 82, users/static/users/users.scss */
    #user-dashboard section > div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    /* line 89, users/static/users/users.scss */
    #user-dashboard section > div:nth-of-type(2) {
      background-color: #041e42;
      background-image: url("/static/images/homepage-hero.jpg?0c0abbd5ec84");
      background-position: center; }

/* line 99, users/static/users/users.scss */
#logout section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 768px) {
  /* line 111, users/static/users/users.scss */
  #login section {
    display: flex;
    grid-auto-flow: unset;
    grid-template-columns: unset;
    flex-direction: column; }
    /* line 118, users/static/users/users.scss */
    #login section > div:nth-of-type(1) {
      height: 35%; }
    /* line 122, users/static/users/users.scss */
    #login section > div:nth-of-type(2) {
      height: 65%; }
  /* line 130, users/static/users/users.scss */
  #register section {
    display: flex;
    grid-auto-flow: unset;
    grid-template-columns: unset;
    flex-direction: column; }
    /* line 137, users/static/users/users.scss */
    #register section > div:nth-of-type(1) {
      height: 35%; }
    /* line 141, users/static/users/users.scss */
    #register section > div:nth-of-type(2) {
      height: 65%; } }
