/* Global Variables */
#login section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  #login section > div {
    height: 100%; }
    #login section > div:nth-of-type(1) {
      background-color: #041e42;
      background-image: url("/static/images/nyc-skyline.jpg?8c5053fda67f");
      background-position: center; }
    #login section > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #login section > div:nth-of-type(2) button {
        width: 100%; }

#register section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  #register section > div {
    height: 100%; }
    #register section > div:nth-of-type(1) {
      background-color: #041e42;
      background-image: url("/static/images/nyc-skyline.jpg?8c5053fda67f");
      background-position: center; }
    #register section > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #register section > div:nth-of-type(2) button {
        width: 100%; }

#user-dashboard section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  #user-dashboard section > div {
    height: 100%; }
    #user-dashboard section > div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      background-color: #041e42;
      padding: 3rem; }
    #user-dashboard section > div:nth-of-type(2) {
      background-color: #041e42;
      background-image: url("/static/images/homepage-hero.jpg?8c5053fda67f");
      background-position: center; }
  #user-dashboard section h1 {
    color: white;
    font-size: 2.5rem;
    line-height: 2.5rem; }
  #user-dashboard section p {
    color: white; }
  #user-dashboard section a {
    margin: 0.5rem 0rem 0rem; }
    #user-dashboard section a:hover {
      color: white; }

#logout section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #logout section div {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center; }

@media screen and (max-width: 1920px) {
  #user-dashboard section > div:nth-of-type(1) {
    padding: 3vw; }
  #user-dashboard section h1 {
    font-size: 2.5vw;
    line-height: 2.5vw; }
  #user-dashboard section a {
    margin: 0.5vw 0rem 0rem; } }

@media screen and (max-width: 768px) {
  #login section {
    display: flex;
    grid-auto-flow: unset;
    grid-template-columns: unset;
    flex-direction: column; }
    #login section > div:nth-of-type(1) {
      height: 35%; }
    #login section > div:nth-of-type(2) {
      height: 65%; }
  #register section {
    display: flex;
    grid-auto-flow: unset;
    grid-template-columns: unset;
    flex-direction: column; }
    #register section > div:nth-of-type(1) {
      height: 35%; }
    #register section > div:nth-of-type(2) {
      height: 65%; }
  #user-dashboard section {
    display: flex;
    grid-auto-flow: unset;
    grid-template-columns: unset;
    flex-direction: column; }
    #user-dashboard section > div:nth-of-type(1) {
      padding: 3vw; }
    #user-dashboard section h1 {
      font-size: 8.5vw;
      line-height: 8.5vw; }
    #user-dashboard section a {
      margin: 0.8vw 0rem 0rem; } }
