/* Global Variables */
/* line 7, users/static/users/users.scss */
#login section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  /* line 15, users/static/users/users.scss */
  #login section > div {
    height: 100%; }
    /* line 18, users/static/users/users.scss */
    #login section > div:nth-of-type(1) {
      background-color: white;
      background-image: url("/static/images/homepage-hero-mobile.jpg?1fd9c1e21549");
      background-position: center;
      background-size: cover; }
    /* line 25, users/static/users/users.scss */
    #login section > div:nth-of-type(2) {
      background-color: #041e42;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      /* line 32, users/static/users/users.scss */
      #login section > div:nth-of-type(2) button {
        width: 100%; }

/* line 40, users/static/users/users.scss */
.login {
  padding: 0rem; }
  /* line 42, users/static/users/users.scss */
  .login #header {
    display: none !important; }

/* line 48, users/static/users/users.scss */
#register section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  /* line 56, users/static/users/users.scss */
  #register section > div {
    height: 100%; }
    /* line 59, users/static/users/users.scss */
    #register section > div:nth-of-type(1) {
      background-color: #041e42;
      background-image: url("/static/images/homepage-hero-mobile.jpg?1fd9c1e21549");
      background-position: center; }
    /* line 65, users/static/users/users.scss */
    #register section > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      /* line 71, users/static/users/users.scss */
      #register section > div:nth-of-type(2) button {
        width: 100%; }

/* line 84, users/static/users/users.scss */
#user-dashboard section,
#user-edit section,
#user-update-password section,
#user-delete section,
#user-add-business section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: center;
  height: 100%; }
  /* line 92, users/static/users/users.scss */
  #user-dashboard section > div,
  #user-edit section > div,
  #user-update-password section > div,
  #user-delete section > div,
  #user-add-business section > div {
    height: 100%; }
    /* line 95, users/static/users/users.scss */
    #user-dashboard section > div:nth-of-type(1),
    #user-edit section > div:nth-of-type(1),
    #user-update-password section > div:nth-of-type(1),
    #user-delete section > div:nth-of-type(1),
    #user-add-business section > div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      background-color: #041e42;
      padding: 3rem; }
    /* line 102, users/static/users/users.scss */
    #user-dashboard section > div:nth-of-type(2),
    #user-edit section > div:nth-of-type(2),
    #user-update-password section > div:nth-of-type(2),
    #user-delete section > div:nth-of-type(2),
    #user-add-business section > div:nth-of-type(2) {
      background-color: #041e42;
      background-image: url("/static/images/homepage-hero.jpg?850af29d2994");
      background-position: center; }
  /* line 109, users/static/users/users.scss */
  #user-dashboard section h1,
  #user-edit section h1,
  #user-update-password section h1,
  #user-delete section h1,
  #user-add-business section h1 {
    color: white;
    font-size: 2.5rem;
    line-height: 2.5rem; }
  /* line 115, users/static/users/users.scss */
  #user-dashboard section p,
  #user-edit section p,
  #user-update-password section p,
  #user-delete section p,
  #user-add-business section p {
    color: white; }
  /* line 119, users/static/users/users.scss */
  #user-dashboard section a,
  #user-edit section a,
  #user-update-password section a,
  #user-delete section a,
  #user-add-business section a {
    margin: 0.5rem 0rem 0rem; }
    /* line 122, users/static/users/users.scss */
    #user-dashboard section a:hover,
    #user-edit section a:hover,
    #user-update-password section a:hover,
    #user-delete section a:hover,
    #user-add-business section a:hover {
      color: white; }

/* line 135, users/static/users/users.scss */
#user-edit section > div:nth-of-type(2),
#user-update-password section > div:nth-of-type(2),
#user-delete section > div:nth-of-type(2),
#user-add-business section > div:nth-of-type(2) {
  background-color: white;
  background-image: unset;
  padding: 3rem; }
  /* line 140, users/static/users/users.scss */
  #user-edit section > div:nth-of-type(2) form,
  #user-update-password section > div:nth-of-type(2) form,
  #user-delete section > div:nth-of-type(2) form,
  #user-add-business section > div:nth-of-type(2) form {
    margin: 1rem 0rem; }
  /* line 144, users/static/users/users.scss */
  #user-edit section > div:nth-of-type(2) p,
  #user-update-password section > div:nth-of-type(2) p,
  #user-delete section > div:nth-of-type(2) p,
  #user-add-business section > div:nth-of-type(2) p {
    color: #f15524; }

/* line 153, users/static/users/users.scss */
#logout section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  /* line 161, users/static/users/users.scss */
  #logout section div {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center; }

@media screen and (max-width: 1920px) {
  /* line 179, users/static/users/users.scss */
  #user-dashboard section > div:nth-of-type(1),
  #user-edit section > div:nth-of-type(1),
  #user-update-password section > div:nth-of-type(1),
  #user-delete section > div:nth-of-type(1),
  #user-add-business section > div:nth-of-type(1) {
    padding: 3vw; }
  /* line 184, users/static/users/users.scss */
  #user-dashboard section h1,
  #user-edit section h1,
  #user-update-password section h1,
  #user-delete section h1,
  #user-add-business section h1 {
    font-size: 2.5vw;
    line-height: 2.5vw; }
  /* line 189, users/static/users/users.scss */
  #user-dashboard section a,
  #user-edit section a,
  #user-update-password section a,
  #user-delete section a,
  #user-add-business section a {
    margin: 0.5vw 0rem 0rem; }
  /* line 201, users/static/users/users.scss */
  #user-edit section > div:nth-of-type(2),
  #user-update-password section > div:nth-of-type(2),
  #user-delete section > div:nth-of-type(2),
  #user-add-business section > div:nth-of-type(2) {
    padding: 3vw; }
    /* line 204, users/static/users/users.scss */
    #user-edit section > div:nth-of-type(2) form,
    #user-update-password section > div:nth-of-type(2) form,
    #user-delete section > div:nth-of-type(2) form,
    #user-add-business section > div:nth-of-type(2) form {
      margin: 1vw 0rem; } }

@media screen and (max-width: 768px) {
  /* line 215, users/static/users/users.scss */
  #login section {
    display: flex;
    grid-auto-flow: unset;
    grid-template-columns: unset;
    flex-direction: column; }
    /* line 222, users/static/users/users.scss */
    #login section > div:nth-of-type(1) {
      height: 35%; }
    /* line 226, users/static/users/users.scss */
    #login section > div:nth-of-type(2) {
      height: 65%; }
  /* line 234, users/static/users/users.scss */
  #register section {
    display: flex;
    grid-auto-flow: unset;
    grid-template-columns: unset;
    flex-direction: column; }
    /* line 241, users/static/users/users.scss */
    #register section > div:nth-of-type(1) {
      height: 35%; }
    /* line 245, users/static/users/users.scss */
    #register section > div:nth-of-type(2) {
      height: 65%; }
  /* line 257, users/static/users/users.scss */
  #user-dashboard section,
  #user-edit section,
  #user-update-password section,
  #user-delete section,
  #user-add-business section {
    display: flex;
    grid-auto-flow: unset;
    grid-template-columns: unset;
    flex-direction: column; }
    /* line 264, users/static/users/users.scss */
    #user-dashboard section > div:nth-of-type(1),
    #user-edit section > div:nth-of-type(1),
    #user-update-password section > div:nth-of-type(1),
    #user-delete section > div:nth-of-type(1),
    #user-add-business section > div:nth-of-type(1) {
      padding: 3vw; }
    /* line 269, users/static/users/users.scss */
    #user-dashboard section h1,
    #user-edit section h1,
    #user-update-password section h1,
    #user-delete section h1,
    #user-add-business section h1 {
      font-size: 5.5vw;
      line-height: 5.5vw; }
    /* line 274, users/static/users/users.scss */
    #user-dashboard section a,
    #user-edit section a,
    #user-update-password section a,
    #user-delete section a,
    #user-add-business section a {
      margin: 0.8vw 0rem 0rem; }
  /* line 286, users/static/users/users.scss */
  #user-edit section > div:nth-of-type(2),
  #user-update-password section > div:nth-of-type(2),
  #user-delete section > div:nth-of-type(2),
  #user-add-business section > div:nth-of-type(2) {
    padding: 6vw; }
    /* line 289, users/static/users/users.scss */
    #user-edit section > div:nth-of-type(2) form,
    #user-update-password section > div:nth-of-type(2) form,
    #user-delete section > div:nth-of-type(2) form,
    #user-add-business section > div:nth-of-type(2) form {
      margin: 3vw 0rem; } }
