{% extends "base.html" %} {% block content %}

<main id="user-dashboard">
  <section>
    <div>
      {% if message %}
      <p>My Account</p>
      <h1>{{ message }}</h1>

      <p>My Profile</p>
      <a href="">My Info</a>
      <a href="{% url 'updateuser' %}">Edit Profile</a>
      <a href="">Neighborhoods</a>
      <a href="">Settings</a>

      <p>My Business</p>
      <a href="{% url 'add_business' %}">My Businesses</a>
      <a href="{% url 'add_business' %}">Add A Business</a>

      {% endif %}
    </div>
    <div></div>
  </section>
</main>

{% endblock content %}
