{% extends "base.html" %} {% block content %}

<main id="user-dashboard">
  <section>
    <div>
      <p>My Account</p>

      {% if firstname %}
      <h1>Welcome {{ firstname }}!</h1>
      {% endif %}

      <p>Profile</p>
      <a href="{% url 'user_account' %}">My Account</a>
      <a href="{% url 'update_account' %}">Update Account</a>
      <a href="{% url 'update_password' %}">Update Password</a>

      <p>Services</p>
      <a href="{% url 'user_businesses' %}">My Businesses</a>
      <a href="{% url 'add_business' %}">Add A Business</a>

      <p>Marketplace</p>
      <a href="{% url 'user_listings' %}">My Listings</a>
      <a href="{% url 'add_listing' %}">Add A Listing</a>
    </div>
    <div>
      {% block body %} {% endblock body %}
    </div>
  </section>
</main>

{% endblock content %}
