{% extends "base.html" %} {% block content %}

<main id="user-dashboard">
  <section>
    <div>
      <p>My Account</p>

      {% if firstname %}
      <h1>Welcome {{ firstname }}!</h1>
      {% endif %}

      <p>My Profile</p>
      <a href="{% url 'update_account' %}">My Profile</a>

      <p>My Businesses</p>
      <a href="{% url 'user_businesses' %}">View My Businesses</a>
      <a href="{% url 'add_business' %}">Add A Business</a>

      <p>My Neighborhoods</p>
      <a href="{% url 'marketplace' %}">Saved Neighborhoods</a>
      <a href="{% url 'marketplace' %}">The Marketplace</a>
      <a href="{% url 'add_listing' %}">Add A Listing</a>
    </div>
    <div>
      {% block body %} {% endblock body %}
    </div>
  </section>
</main>

{% endblock content %}
