{% extends "base.html" %} {% block content %}

<main id="login">
  <section>
    <div class="img-container">
      {% load static %} <img src="{% static "images/nyc-skyline.jpg" %}"
      alt="Login Image" />
    </div>
    <div>
      <h1>Log In</h1>

      {% if message %}

      <p class="message" role="alert">{{ message }}</p>

      {% endif %}

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>
    </div>
  </section>
</main>

{% endblock content %}
