{% extends "base.html" %} {% block content %} {% load bootstrap_icons %}
<main id="login">
  <section>
    <div class="img-container">
      <a href="/"><h1>BAM</h1></a>
    </div>
    <div>
      {% bs_icon 'house-heart' size='1.5rem' %}
      <h1>Welcome Back!</h1>
      <p>Please log in to continue.</p>
      {% if message %}

      <p class="message" role="alert">{{ message }}</p>

      {% endif %}

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>
      <a href="{% url 'register' %}"
        >If you do not have an account, please sign up.</a
      >
    </div>
  </section>
</main>

{% endblock content %}
