{% extends "base.html" %} {% block content %}

<main id="edituser">
  <section>
    <div class="img-container"></div>
    <div>
      <h1>Update Profile</h1>

      {% if message %}

      <p class="message" role="alert">{{ message }}</p>

      {% endif %}

      <form action="{% url 'updateuser' %}" method="POST">
        {% csrf_token %}
        <input type="email" required="required" name="email" placeholder="Email" value="{{ user.email }}"/>
        <input type="text" required="required" name="first_name" placeholder="First Name" value="{{ user.first_name }}" />
        <input type="text" required="required" name="last_name" placeholder="Last Name" value="{{ user.last_name }}" />
       
        <button type="submit">Update Profile</button>
      </form>
      <button><a href="{% url 'index' %}">Cancel</a></button>
    </div>
    <button><a href="{% url 'update_password' %}">Update Password</a></button>
    <button><a href="{% url 'delete_user' %}">Delete User</a></button>
  </section>
</main>

{% endblock content %}
