{% extends "users/index.html" %} {% block body %}

<h2>Update Password</h2>
<p>Please fill out the form below to update your password.</p>

{% if message %}

<p class="message" role="alert">{{ message }}</p>

{% endif %}

<form action="{% url 'update_password' %}" method="POST">
  {% csrf_token %}
  <input
    type="password"
    required="required"
    name="current_password"
    placeholder="Current Password"
  />

  <input
    type="password"
    required="required"
    name="password1"
    placeholder="New Password"
  />
  <input
    type="password"
    required="required"
    name="password2"
    placeholder="Confirm Password"
  />
  <button type="submit">Update Password</button>
</form>

{% endblock body %}
