{% extends "base.html" %} {% block content %}

<main id="reset_password">
  <section>
    <div class="img-container"></div>
    <div>
      <h1>Reset Password</h1>

      {% if message %}

      <p class="message" role="alert">{{ message }}</p>

      {% endif %}

      <form action="{% url 'update_password' %}" method="POST">
        {% csrf_token %}
        <input type="password" required="required" name="current_password" placeholder="Current Password" />

        <input type="password" required="required" name="password1" placeholder="New Password" />
        <input type="password" required="required" name="password2" placeholder="Confirm Password" />
        <button type="submit">Update Password</button>
      </form>
    </div>
   <button> <a href="{% url 'updateuser' %}">Back to Edit Profile</a></button>
  </section>
</main>

{% endblock content %}