{% extends "base.html" %} {% block content %}

<main id="user-edit">
  <section>
    <div>
      <p>My Account</p>
      <h1>Welcome,</h1>

      <p>My Profile</p>
      <a href="">My Info</a>
      <a href="{% url 'update_user' %}">Edit Profile</a>

      <p>My Business</p>
      <a href="">My Businesses</a>
      <a href="{% url 'add_business' %}">Add A Business</a>
    </div>
    <div>
      <h2>Update Profile</h2>
      
      {% if message %}

      <p class="message" role="alert">{{ message }}</p>

      {% endif %}

      <form action="{% url 'update_user' %}" method="POST">
        {% csrf_token %}
        <input
          type="email"
          required="required"
          name="email"
          placeholder="Email"
          value="{{ user.email }}"
        />
        <input
          type="text"
          required="required"
          name="first_name"
          placeholder="First Name"
          value="{{ user.first_name }}"
        />
        <input
          type="text"
          required="required"
          name="last_name"
          placeholder="Last Name"
          value="{{ user.last_name }}"
        />

        <button type="submit">Update</button>
      </form>
      <a href="{% url 'update_password' %}"><button>Update Password</button></a>
      <a href="{% url 'delete_user' %}"><button>Delete Account</button></a>
    </div>
  </section>
</main>

{% endblock content %}
