{% extends "users/index.html" %} {% block body %}

<h2>My Profile</h2>
<div>
  <div>
    <h3>My Details</h3>
    <p>Email</p>
    <p class="info">{{ user.email }}</p>
    <p>Name</p>
    <p class="info">{{ user.first_name }} {{ user.last_name }}</p>
    <p>Phone Number</p>
    <p class="info">423-234-2345</p>
  </div>
  <div>
    <h3>Update Info</h3>

    {% if message %}

    <p class="message" role="alert">{{ message }}</p>

    {% endif %}

    <form action="{% url 'update_account' %}" method="POST">
      {% csrf_token %}
      <input
        type="email"
        required="required"
        name="email"
        placeholder="Email"
        value="{{ user.email }}"
      />
      <input
        type="text"
        required="required"
        name="first_name"
        placeholder="First Name"
        value="{{ user.first_name }}"
      />
      <input
        type="text"
        required="required"
        name="last_name"
        placeholder="Last Name"
        value="{{ user.last_name }}"
      />

      <button type="submit">Update</button>
    </form>
    <a href="{% url 'update_password' %}"><button>Update Password</button></a>
    <a href="{% url 'account_delete' %}"><button>Delete Account</button></a>
  </div>
</div>

{% endblock body %}
