{% extends "base.html" %} 
{% load bootstrap_icons %}
{% block content %} 
{% load static %}

<main id="services">
  <section>
    <div class="sort-filter">
      <button>{%bs_icon 'building' size='1rem' %}Queens</button>
      <button>{%bs_icon 'building' size='1rem' %}Brooklyn</button>
      <button>{%bs_icon 'building' size='1rem' %}Bronx</button>
      <button>{%bs_icon 'building' size='1rem' %}Manhattan</button>
    </div>
  </section>
  <section>
    <div class="list-page">
      {% for business in businesses %}
      <div class="listing">
        <a>
          <img src="{% static 'images/business-1.jpg' %}" />
          <div>
            <h3>{{ business.name }}</h3>
            <p>{{ business.address }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
</main>

{% endblock %}
