{% extends "users/index.html" %} {% block body %} {% load static %}

<h2>My Businesses</h2>
{% if businesses %}
<p>You can view all your businesses below.</p>
{% else %}
<p>There are currently no businesses under this account.</p>
{% endif %}

<div class="list-page">
  {% if businesses %} {% for business in businesses %}
  <div class="listing">
    <a>
      <img src="{% static 'images/business-1.jpg' %}" />
      <div>
        <h3>{{ business.name }}</h3>
        <p>{{ business.address }}</p>
      </div>
    </a>
  </div>
  {% endfor %} {% endif %}
</div>

{% endblock body %}
