/* Global Variables */
$darkBlue: #041e42;
$lightBlue: #6cace4;
$orange: #f15524;

#login {
  section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    height: 100%;

    p {
      color: $orange;
      text-align: center;

      &.message {
        color: red;
        font-weight: bold;
        margin-top: 0rem;
      }
    }

    & > div {
      height: 100%;

      &:nth-of-type(1) {
        background-color: white;
        background-image: url("../../../static/images/homepage-hero-mobile.jpg");
        background-position: center;
        background-size: cover;

        h1 {
          padding: 2rem;
          color: white;
        }

        a {
          :hover {
            color: white;
            text-decoration: underline;
          }
        }
      }

      &:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
          width: 100%;
        }

        a {
          color: $darkBlue;
          margin-top: 1rem;
          text-decoration: underline;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

.login,
.register {
  padding: 0rem !important;
  #header {
    display: none !important;
  }
}

#register {
  section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    height: 100%;

    p {
      color: $orange;
      text-align: center;

      &.message {
        color: red;
        font-weight: bold;
        margin-top: 0rem;
      }
    }

    & > div {
      height: 100%;

      &:nth-of-type(1) {
        background-color: $darkBlue;
        background-image: url("../../../static/images/homepage-hero-mobile.jpg");
        background-position: center;
        background-size: cover;

        h1 {
          padding: 2rem;
          color: white;
        }

        a {
          :hover {
            color: white;
            text-decoration: underline;
          }
        }
      }

      &:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
          width: 100%;
        }

        a {
          color: $darkBlue;
          margin-top: 1rem;
          text-decoration: underline;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

#user-dashboard {
  section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
    height: 100%;

    & > div {
      height: 100%;

      &:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        background-color: $darkBlue;
        padding: 3rem;
      }

      &:nth-of-type(2) {
        background-color: $darkBlue;
        background-image: url("../../../static/images/homepage-hero.jpg");
        background-position: center;
        background-size: cover;

        p {
          color: $darkBlue;
        }
      }
    }

    h1 {
      color: white;
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    p {
      color: white;
      margin: 1.5rem 0rem 0.5rem;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    a {
      margin: 0.5rem 0rem 0rem;

      &:hover {
        color: white;
      }
    }
  }
}

.account-edit,
.account-update-password,
.account-delete,
.account-add-business,
.account-my-businesses,
.account-add-listing {
  section {
    & > div {
      &:nth-of-type(2) {
        background-color: white !important;
        background-image: unset !important;
        padding: 3rem;

        form {
          margin: 1rem 0rem;
        }

        p {
          color: $orange;
        }
      }
    }
  }
}

.account-edit {
  section {
    & > div {
      &:nth-of-type(2) > div {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 49% 49%;
        column-gap: 1rem;
        margin-top: 2rem;

        & > div {
          &:nth-of-type(1) {
            background-color: $darkBlue;
            padding: 2rem;
            border-radius: 7px;

            h3 {
              color: white;
            }

            p {
              color: white !important;

              &.info {
                color: $orange !important;
              }
            }
          }

          &:nth-of-type(2) {
            padding: 2rem;
          }
        }
      }
    }
  }
}

#logout {
  section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      flex-direction: row;
      column-gap: 0.5rem;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1920px) {
  #user-dashboard {
    section {
      & > div {
        &:nth-of-type(1) {
          padding: 3vw;
        }
      }

      h1 {
        font-size: 2.5vw;
        line-height: 2.5vw;
      }

      p {
        margin: 1.5vw 0rem 0.5vw;
        font-size: 1.2vw;
        line-height: 1.2vw;
      }

      a {
        margin: 0.5vw 0rem 0rem;
      }
    }
  }

  .account-edit,
  .account-update-password,
  .account-delete,
  .account-add-business,
  .account-my-businesses,
  .account-add-listing {
    section {
      & > div {
        &:nth-of-type(2) {
          padding: 3vw;

          form {
            margin: 1vw 0rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #login {
    section {
      display: flex;
      grid-auto-flow: unset;
      grid-template-columns: unset;
      flex-direction: column;

      & > div {
        &:nth-of-type(1) {
          height: 35%;
        }

        &:nth-of-type(2) {
          height: 65%;
        }
      }
    }
  }

  #register {
    section {
      display: flex;
      grid-auto-flow: unset;
      grid-template-columns: unset;
      flex-direction: column;

      & > div {
        &:nth-of-type(1) {
          height: 35%;
        }

        &:nth-of-type(2) {
          height: 65%;
        }
      }
    }
  }

  #user-dashboard {
    section {
      display: flex;
      grid-auto-flow: unset;
      grid-template-columns: unset;
      flex-direction: column-reverse;

      & > div {
        &:nth-of-type(1) {
          padding: 3vw;
        }
      }

      h1 {
        font-size: 5.5vw;
        line-height: 5.5vw;
      }

      p {
        margin: 4.5vw 0rem 1.5vw;
        font-size: 3.2vw;
        line-height: 3.2vw;
      }

      a {
        margin: 0.8vw 0rem 0rem;
      }
    }
  }

  .account-edit,
  .account-update-password,
  .account-delete,
  .account-add-business,
  .account-my-businesses,
  .account-add-listing {
    section {
      flex-direction: column !important;

      & > div {
        &:nth-of-type(2) {
          padding: 6vw;

          form {
            margin: 3vw 0rem;
          }
        }
      }
    }
  }

  .account-edit {
    section {
      & > div {
        &:nth-of-type(2) > div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
