<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Let BAM Help You Find Your Perfect Neighborhood."
    />
    <meta name="author" content="Big Apple Move" />

    <title>BAM</title>

    <link rel="icon" href="./favicon.ico" />
    <link rel="icon" href="./favicon.svg" type="image/svg+xml" />

    {% load static %} {% load compress %} {% compress css %}

    <link
      type="text/x-scss"
      href="{% static 'scss/base.scss' %}"
      rel="stylesheet"
      media="screen"
    />

    <link
      type="text/x-scss"
      href="{% static 'bootstrap/bootstrap.scss' %}"
      rel="stylesheet"
      media="screen"
    />

    {% endcompress %}

    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">BAM</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mobileNavbar"
          aria-controls="mobileNavbar"
          aria-expanded="false"
          aria-label="Toggle Navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobileNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Neighborhoods
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Businesses
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="mobileNavbarDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Profile
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="mobileNavbarDropdown"
              >
                <a class="dropdown-item" href="{% url 'register' %}">Sign Up</a>
                <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    {% block content %} {% endblock content %}

    <div id="footer"></div>
  </body>
</html>
