{% extends "users/index.html" %} {% block body %}

<h2>Add A Marketplace Listing</h2>
<p>Please fill out the form below to add your listing to the marketplace.</p>

{% if message %}

<div class="alert" role="alert">{{ message }}</div>

{% endif %}

<form action="{% url 'add_listing' %}" method="POST">
  {% csrf_token %}
  <input type="text" name="title" placeholder="Listing Title" required />
  <input type="text" name="description" placeholder="Listing Description" required />
  <input type="number" name="price" placeholder="Price"
         min="1"
         max="999999999999" step="0.01" pattern="^\d{1,5}(\.\d{1,2})?$"
         title="Must be a valid price (1.00)."
         required />
  <input type="text" name="address" placeholder="Listing Address" />
  <input type="tel" name="phone" placeholder="Phone Number" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" title="Must be a valid phone number (888 888 8888)."/>
  <input type="email" name="email" placeholder="Email" />

  <select name="neighborhood" required="" id="id_neighborhood">
    <option value="" disabled selected>Select A Neighborhood</option>
    {% for neighborhood in neighborhoods %}

    <option value="{{neighborhood.pk}}">{{neighborhood.name}}</option>

    {% endfor %}
  </select>
  <button type="submit">Add Listing</button>
</form>

{% endblock body %}
