/* Global Variables */
$darkBlue: #041e42;
$lightBlue: #6cace4;
$orange: #f15524;

/* Fonts */
@font-face {
  font-family: "Rubik80sFade";
  src: local("Rubik80sFade"),
    url("../../static/fonts/Rubik80sFade.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("../../static/fonts/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url("../../static/fonts/Rubik-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: url("../../static/fonts/Rubik-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("../../static/fonts/Karla-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("../../static/fonts/Karla-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Karla";
  src: url("../../static/fonts/Karla-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("../../static/fonts/Karla-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Karla";
  src: url("../../static/fonts/Karla-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

/* Global Styling */
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto !important;
  font-family: "Karla", Garamond, serif !important;
  overflow: hidden;

  .mobile,
  .br-mobile {
    display: none !important;
  }

  .page-container {
    min-height: 39rem;
    height: 100%;
    position: relative;
    padding: 4rem 0rem 0rem 0rem;
    overflow: scroll;
  }

  main {
    width: 100%;
    height: 100%;

    button {
      border: none;
      background-color: $darkBlue;
      border-radius: 0.8rem;
      padding: 1rem 1.5rem;
      color: white;
      font-size: 0.875rem;
      line-height: 0.875rem;
      width: fit-content;

      &:hover {
        background-color: $orange;
        color: $darkBlue;
      }
    }

    a {
      font-size: 1rem;
      line-height: 1rem;
      color: $orange;
    }
  }

  section {
    position: relative;
  }

  .map-container {
    .mapboxgl-map {
      width: 100%;
      height: 100%;
      max-height: 100vh;
      min-height: 20rem;
    }

    .mapboxgl-popup.mapboxgl-popup-anchor-bottom {
      max-width: 10rem !important;
    }

    .mapboxgl-popup-content {
      text-align: center;
      padding: 1rem;
      font-family: "Rubik", Copperplate, Papyrus, fantasy;
      font-weight: bold;
    }

    .mapboxgl-popup-close-button {
      color: black;
      padding: 0.5rem;
    }

    .mapboxgl-ctrl-attrib.mapboxgl-compact,
    .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
      display: none;
    }
  }

  h1 {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: $darkBlue;
    font-size: 3.25rem;
    line-height: 3.25rem;
    margin: 0rem;
  }

  h2 {
    font-family: "Rubik", Copperplate, Papyrus, fantasy;
    color: $darkBlue;
    font-size: 2.75rem;
    line-height: 2.75rem;
    margin: 0rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    font-family: "Rubik", Copperplate, Papyrus, fantasy;
    color: $darkBlue;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0rem;
    margin: 1rem 0rem;
    word-wrap: break-word;

    &.message {
      color: $orange !important;
      font-style: italic;
    }
  }

  div {
    width: 100%;

    &.img-container {
      overflow: hidden;
    }

    &.header-block {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.list-page {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 2rem;
      padding: 1rem 3rem;

      .listing {
        width: 24.1%;
        a {
          img {
            border-radius: 5px;
          }

          &:hover {
            text-decoration: none;

            p {
              color: $orange;
            }

            img {
              width: 101%;
            }
          }

          div {
            h3 {
              padding: 1rem 0rem 0.5rem;
              font-size: 1.5rem;
              line-height: 1.5rem;
              display: grid;
              grid-auto-flow: column;
              grid-template-columns: 73% 18%;
              column-gap: 2rem;
              align-items: self-start;

              span {
                font-size: 1.2rem;
                line-height: 1.2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
              }
            }

            p {
              margin: 0rem;
            }
          }
        }
      }
    }

    &.account-list {
      .listing {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 20% 76%;
        padding: 1.5rem 0rem;
        align-items: center;
        column-gap: 2rem;
        border-bottom: 1px solid lightgrey;
        border-right: none;

        p {
          margin: 1rem 0rem !important;
        }

        a {
          text-decoration: underline;

          &:hover {
            color: $orange !important;
            text-decoration: underline !important;
          }
        }
      }
    }

    &.sort-filter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      column-gap: 1rem;

      button {
        background-color: transparent;
        color: $darkBlue;

        a {
          font-size: 0.9rem;
          line-height: 0.9rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 0.5rem;
          color: $darkBlue;

          &:hover {
            color: $orange;
            text-decoration: none;
          }
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;

    input,
    select {
      border: 1px solid lightgray;
      border-radius: 0.8rem;
      height: 2.5rem;
      font-size: 1rem !important;
      line-height: 1rem !important;
      padding: 0.5rem;
      margin: 0rem 0rem 0.8rem 0rem;
      width: 100%;
      background-color: #f4faff;
    }
  }

  img {
    width: 100%;
  }
}

/* Header Styling */
#header {
  min-height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0%;
  background-color: white;

  .navbar {
    border-bottom: 1px solid #5c5c5c1a;
    max-width: 1920px;
    padding: 0.8rem 1rem;
  }

  .navbar-brand {
    font-family: "Rubik80sFade", Copperplate, Papyrus, fantasy;
    color: $darkBlue;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0rem;
    padding: 0rem;
  }

  .navbar-nav {
    align-items: center;

    .dropdown-menu {
      border: none;
      box-shadow: 10px 10px 43px -19px #00001acc;
      padding: 1rem;
      margin: 0rem;
      width: 15rem;

      .dropdown-item {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.5rem;

        &:hover {
          color: $orange;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem;
        margin: 0rem;
        color: $orange;
        font-weight: bold;
      }
    }

    .nav-link {
      color: $darkBlue;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      line-height: 1rem;

      &.dropdown-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &:hover {
        color: $orange;
      }
    }
  }

  .navbar-toggler {
    padding: 0.25rem;
  }
}

/* Footer Styling */
#footer {
  display: none !important;

  width: 100%;
  background-color: $darkBlue;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: $orange;
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 1920px) {
  body {
    main {
      button {
        border-radius: 0.8vw;
        padding: 1vw 1.5vw;
        font-size: 0.875vw;
        line-height: 0.875vw;
      }

      a {
        font-size: 1vw;
        line-height: 1vw;
      }
    }

    h1 {
      font-size: 3.25vw;
      line-height: 3.25vw;
    }

    h2 {
      font-size: 2.75vw;
      line-height: 2.75vw;
    }

    h3 {
      font-size: 2vw;
      line-height: 2vw;
    }

    p {
      font-size: 1vw;
      line-height: 1.5vw;
      margin: 1vw 0rem;
    }

    form {
      max-width: 30vw;

      input,
      select {
        border-radius: 0.8vw;
        height: 2.5vw;
        font-size: 1vw !important;
        line-height: 1vw !important;
        padding: 0.5vw;
        margin: 0rem 0rem 0.8vw 0rem;
      }
    }

    div {
      &.list-page {
        column-gap: 1vw;
        row-gap: 2vw;
        padding: 1vw 3vw;

        .listing {
          a {
            div {
              h3 {
                padding: 1vw 0rem 0.5vw;
                font-size: 1.5vw;
                line-height: 1.5vw;
                column-gap: 2vw;

                span {
                  font-size: 1.2vw;
                  line-height: 1.2vw;
                }
              }
            }
          }
        }
      }

      &.account-list {
        .listing {
          padding: 1.5vw 0rem;
          column-gap: 2vw;
        }
      }

      &.sort-filter {
        padding: 1vw;
        column-gap: 1vw;

        button {
          a {
            font-size: 0.9vw;
            line-height: 0.9vw;
            row-gap: 0.5vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  body {
    .desktop {
      display: none !important;
    }

    .mobile {
      display: block !important;
    }
  }

  #mobileNavbar {
    padding: 1rem 0rem;

    .navbar-nav {
      align-items: start;

      .nav-link {
        padding: 0.5rem 0rem;
      }

      p {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem 0rem;
        margin: 0rem;
        color: $orange;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    .br-mobile {
      display: block !important;
    }

    main {
      button {
        border-radius: 1.8vw;
        padding: 2.2vw 2.5vw;
        font-size: 2.875vw;
        line-height: 2.875vw;
      }

      a {
        font-size: 3vw;
        line-height: 3.5vw;
      }
    }

    h1 {
      font-size: 8.4vw;
      line-height: 8.4vw;
    }

    h2 {
      font-size: 5.75vw;
      line-height: 5.75vw;
    }

    h3 {
      font-size: 3.75vw;
      line-height: 3.75vw;
    }

    p {
      font-size: 3vw;
      line-height: 3.5vw;
      margin: 3vw 0rem;
    }

    form {
      max-width: 85vw;

      input,
      select {
        border-radius: 1.8vw;
        height: 4.5vw;
        font-size: 3vw !important;
        line-height: 3vw !important;
        padding: 2.5vw;
        margin: 0rem 0rem 1.8vw 0rem;
      }
    }

    div {
      &.list-page {
        column-gap: 2vw;
        row-gap: 6vw;
        padding: 1vw 3vw;

        .listing {
          width: 48.8%;

          a {
            div {
              h3 {
                padding: 1.5vw 0rem 1vw;
                font-size: 3vw;
                line-height: 3vw;
                column-gap: 4vw;

                span {
                  font-size: 2.5vw;
                  line-height: 2.5vw;
                }
              }

              p {
                font-size: 2vw;
                line-height: 2vw;
              }
            }
          }
        }
      }

      &.account-list {
        .listing {
          padding: 3.5vw 0rem;
          column-gap: 4vw;
        }
      }

      &.sort-filter {
        padding: 1vw;
        column-gap: 1vw;

        button {
          a {
            font-size: 1.9vw;
            line-height: 1.9vw;
            row-gap: 0.8vw;
          }
        }
      }
    }
  }
}
