{% extends "base.html" %} {% load bootstrap_icons %} {% block content %} 
{% load static %}

<main id="neighborhoods">
  <section class="map-container">
    <div id="neighborhood-map"></div>
  </section>
  <section class="sidebar-container">
    <div>
      <h1>Explore The Big Apple</h1>
      <p>
        Find the information you need to make your big move! <br />Click on the
        map to learn more.
      </p>
      <div class="sort-filter">
        <a class="mapFilter" id="reset">{%bs_icon 'arrow-clockwise' size='1rem' %}</a>
        <a class="mapFilter" id="Bronx">Bronx</a>
        <a class="mapFilter" id="Brooklyn">Brooklyn</a>
        <a class="mapFilter" id="Queens">Queens</a>
        <a class="mapFilter" id="Manhattan">Manhattan</a>
        <a class="mapFilter" id="Staten Island">Staten Island</a>
      </div>
    </div>
    <div class="sidebar-info">
      <div class="sidebar-list">
        {% if neighborhoods %} {% for neighborhood in neighborhoods %}
        <div
          class="listing"
          id="{{ neighborhood.name }}"
          data-borough="{{ neighborhood.borough }}"
        >
          <a href="{% url 'neighborhood' neighborhood.pk %}">
            <div>
              <h2>{{ neighborhood.name }}</h2>
              <p>{{ neighborhood.borough }}</p>
            </div>
            <p>
              <img
                src="{% static 'bootstrap_icons/arrow-right.svg' size='1.5rem' %}"
                alt="arrow"
              />
            </p>
          </a>
        </div>
        {% endfor %}
        <h2 id="no-data" style="display: none; text-align: center">
          No Data On Selected Neighborhood
        </h2>
        {% else %}
        <h2 class="empty-list">
          Neighborhoods Data Is Currently Not Availiable
        </h2>
        {% endif %}
      </div>
    </div>
  </section>

  <script>
    const api_key = "{{ MAPBOX_API_KEY }}";
    mapboxgl.accessToken = api_key;
    // console.log("test " + api_key);

    var target = '';

    var map = new mapboxgl.Map({
      container: 'neighborhood-map',
      center: [-74.00597,40.71427],
      zoom: 11,
      style: 'mapbox://styles/mapbox/streets-v11'
    });

    map.on('load', () => {
      map.addSource('neighborhoods', {
      'type': 'geojson',
      'data': '{% static 'data/tabulation.geojson' %}'
      });

      map.addLayer({
      'id': 'neighborhoods-layer',
      'type': 'fill',
      'source': 'neighborhoods',
      'paint': {
      'fill-color': '#f15524',
      'fill-opacity': 0.3,
      'fill-outline-color': '#FFF'
      }
      });

      map.addLayer({
        'id': 'neighborhoods-layer-outline',
        'type': 'line',
        'source': 'neighborhoods',
        'paint': {
          'line-color': '#FFF',
          'line-width': 2
        }
      });

      map.on('click', 'neighborhoods-layer', (e) => {
      new mapboxgl.Popup()
      .setLngLat(e.lngLat)
      .setHTML(e.features[0].properties.ntaname)
      .addTo(map);

      target = e.features[0].properties.ntaname;

      var targetArray = target.split("-");

      var lowerCaseArray = [];

      targetArray.forEach(target => lowerCaseArray.push(target.toLowerCase()));

      var elements = document.querySelectorAll('.sidebar-list .listing');
      var nodata = document.getElementById('no-data');

      var found = false;

      for (var i = 0; i < elements.length; ++i) {
        if(!lowerCaseArray.includes(elements[i].id.toLowerCase())){
          elements[i].style.display = "none";
        } else{
          elements[i].style.display = "block";
          found = true;
        }
      }

      if(!found){
        nodata.style.display = "block";
      } else{
        nodata.style.display = "none";
      }
      });

      map.on('mouseenter', 'neighborhoods-layer', () => {
      map.getCanvas().style.cursor = 'pointer';
      });

      map.on('mouseleave', 'neighborhoods-layer', () => {
      map.getCanvas().style.cursor = '';
      });

      var mapFilters = document.getElementsByClassName("mapFilter");

      var filterMap = function() {
        var borough = this.id;
        var elements = document.querySelectorAll('.sidebar-list .listing');

        if(borough == "reset"){
          map.setFilter('neighborhoods-layer', null);
          map.setFilter('neighborhoods-layer-outline', null);

          for (var i = 0; i < elements.length; ++i) {
              elements[i].style.display = "block";
          }
        } else{
          map.setFilter('neighborhoods-layer', ['==', 'boro_name', borough]);
          map.setFilter('neighborhoods-layer-outline', ['==', 'boro_name', borough]);

          for (var i = 0; i < elements.length; ++i) {
            if(!(elements[i].getAttribute('data-borough') == borough)){
              elements[i].style.display = "none";
            } else{
              elements[i].style.display = "block";
            }
          }
        }
      };

      for (var i = 0; i < mapFilters.length; i++) {
        mapFilters[i].addEventListener('click', filterMap, false);
      }

    });
  </script>
</main>

{% endblock content %}
